#content{
	width: 888px;
}
#imageright{
	
    width: 250px;
    height: 300px;
    margin-left: 20px;
}
#imageleft{
    width: 250px;
    height: 200px;
    margin-right: 40px;
    margin-bottom: 80px;
}
.kepszoveg{
	text-align: center;
    font-style: italic;
    
}
a{
    text-decoration: none;

}
a:hover{
    color: red;
}

.kepj{
    border-radius: 16px;
    border: 2px forestgreen solid;
    float: right;
    overflow: hidden;
}

.kepb{
    border-radius: 16px;
    border: 2px forestgreen solid;
    float: left;
    overflow: hidden;
}

